.u-section-1 .u-sheet-1 {
  min-height: 1059px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 240px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 50px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 240px;
}

.u-section-1 .u-container-layout-2 {
  padding: 2px 50px 2px 30px;
}

.u-section-1 .u-image-1 {
  width: 232px;
  height: 232px;
  margin: 0 auto 0 127px;
}

.u-section-1 .u-form-1 {
  background-image: none;
  --radius: 50px;
  height: 583px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  --radius: 10px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  --radius: 10px;
}

.u-section-1 .u-input-3 {
  --radius: 10px;
}

.u-section-1 .u-input-4 {
  --radius: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 198px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 198px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 152px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 228px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 144px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}