.u-section-1 .u-sheet-1 {
  min-height: 1840px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: -1532px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 60px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 386px 0 434px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-4 {
    margin-right: -162px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }
}